table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-right: 35px;
  }

  .btnEdit, .btnDelete{
    cursor: pointer;
  }

  .btnEdit{
    color: green;
  }

  .btnDelete{
    color: red;
  }